
<!DOCTYPE html>
 <htmllang ="en">
<head>
<meta charset="t UTF-8">
 <meta name ="viewport"content= width=device width,
initial-scale=1.0">
 <link rel="stylesheet" href="estilo.css">
 <title>Noticias</title>
 </head>
 <body>

<a href="noticia1/index.ejs">
 <div>
 <h2>Cancelamento de Anne with an e.</h2>
 <img id="noticp" src="https://portal.megabrasil.com.br/imagens/20201208_5fcfa3a7e92f5.jpg" alt=""></div>
</a>

<div>
<h2>Chegou a hora da Temporada Final de The 100.</h2>
<img src="https://i.pinimg.com/originals/bd/c2/88/bdc28859e7377b75da5cff589224b42f.jpg" alt="">
</div>

<div>
<h2>Saiba tudo sobre luca o novo filme da pixar</h2>
<img src="https://pbs.twimg.com/media/E0ECbzVWUAQt5ik.jpg" alt="">
</div>

 
 </body>
 </html>